@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Braggadocio";
    src: url("/fonts/braggadocio.ttf") format("ttf");
  }

@font-face {
    font-family: "Rockwell";
    src: url("/fonts/rockb.ttf") format("ttf");
  }
  
  
  .font-bragg{
    font-family: Braggadocio, sans-serif;
    font-style: normal;
  }
  
  .font-rock{
    font-family: Rockwell, sans-serif;
    font-style: normal;
  }
  
  .font-nunito{
    font-family: 'Nunito Sans', sans-serif;
}

.swiper-slide:nth-child(n) {
  width: auto;
}
.swiper {
  width: 100%;
  height: 100%;
}